<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2><%= infrastructure.name %></h2>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt class="text-primary">Username</dt>
                <dd class="text-info"><%= infrastructure.username %></dd>
                <dt class="text-primary">Tenant</dt>
                <dd class="text-info"><%= infrastructure.tenant %></dd>
                <dt class="text-primary">Region</dt>
                <dd class="text-info"><%= infrastructure.region %></dd>
            </dl>
        </div>
    </div>
</div>
