<div class="panel panel-info">
  <div class="panel-heading">
    <h2>Add an infrastructure</h2>
  </div>
  <%= link_to new_infrastructure_path do %>
    <div class="panel-body text-center">
      <i class="fa fa-plus huge"></i>
    </div>
  <% end %>
</div>
