<% provide(:title, "Infrastructures") %>
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header text-primary">Infrastructures
            <%= link_to new_infrastructure_path do %>
              <button type="button" class="btn btn-outline btn-primary pull-right">
                  <i class="fa fa-plus fa-fw"></i> Add
              </button>
            <% end %>
      </h1>
  </div>
</div>
<div class="row">
  <% if @infrastructures && @infrastructures.any? %>
      <%= render @infrastructures %>
  <% end %>
</div>

