<div class="modal fade newcluster-modal" id="new-cluster" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Cluster</h4>
            </div>

            <div class="modal-body" id="form-body">
                <div class="form-group input-group">
                    <span class="input-group-addon">Infrastructure</span>
                    <%= select_tag(:infrastructure_id, options_for_select(@adapters.map { |key, value| [key, value] }), {class: 'form-control', id: 'infrastructure_id', role: 'role'}) %>
                </div>
            </div>
    </div>
  </div>
</div>
