<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <h2><%= group.name %></h2>
    </div>
    <div class="col-xs-6 text-right">
      <div class="huge"><%= group.users.count %></div>
      <div>users</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Info</h3>
      <pre><%= group.desc %></pre>
    </div>
    <div class="col-xs-6">
      <h3>Users</h3>
      <ul class="scrollable-list list-unstyled">
        <% group.users.each do |user| %>
          <li>
            <p><%= user.email %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
