<% provide(:title, "Groups") %>
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header text-primary">Groups
          <% if current_user.group_permissions? %>
            <%= link_to new_group_path do %>
              <button type="button" class="btn btn-outline btn-primary pull-right">
                  <i class="fa fa-plus fa-fw"></i> Create
              </button>
            <% end %>
          <% end %>
      </h1>
    <% if params[:registered]=="true" %>
      <div class="alert alert-success" role="alert">
        <strong>Registration successful!</strong>
      </div>
    <% end %>
  </div>
</div>
<% if @groups.any? %>
  <%= render @groups %>
<% else %>
  <%= render 'groups/no_group' %>
<% end %>
