<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header"></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <h1 class="page-header">Groups <small><%= link_to "add new", new_group_path %></small></h1>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <h2>Group 1</h2>
    </div>
    <div class="col-xs-6 text-right">
      <div class="huge">5</div>
      <div>users</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Info</h3>
      <pre>Lorem ipsum bla bla bla</pre>
    </div>
    <div class="col-xs-6">
      <h3>Users</h3>
      <ul class="scrollable-list list-unstyled">
        <li>
          <p>user1@zhaw.ch</p>
        </li>
        <li>
          <p>user2@zhaw.ch</p>
        </li>
        <li>
          <p>user3@zhaw.ch</p>
        </li>
        <li>
          <p>user4@zhaw.ch</p>
        </li>
        <li>
          <p>user5@zhaw.ch</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <h2>Group 1</h2>
    </div>
    <div class="col-xs-6 text-right">
      <div class="huge">5</div>
      <div>users</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Info</h3>
      <pre>Lorem ipsum bla bla bla</pre>
    </div>
    <div class="col-xs-6">
      <h3>Users</h3>
      <ul class="scrollable-list list-unstyled">
        <li>
          <p>user1@zhaw.ch</p>
        </li>
        <li>
          <p>user2@zhaw.ch</p>
        </li>
        <li>
          <p>user3@zhaw.ch</p>
        </li>
        <li>
          <p>user4@zhaw.ch</p>
        </li>
        <li>
          <p>user5@zhaw.ch</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-xs-6">
      <h2>Group 1</h2>
    </div>
    <div class="col-xs-6 text-right">
      <div class="huge">5</div>
      <div>users</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Info</h3>
      <pre>Lorem ipsum bla bla bla</pre>
    </div>
    <div class="col-xs-6">
      <h3>Users</h3>
      <ul class="scrollable-list list-unstyled text-center">
        <li>
          <p>user1@zhaw.ch</p>
        </li>
        <li>
          <p>user2@zhaw.ch</p>
        </li>
        <li>
          <p>user3@zhaw.ch</p>
        </li>
        <li>
          <p>user4@zhaw.ch</p>
        </li>
        <li>
          <p>user5@zhaw.ch</p>
        </li>
      </ul>
    </div>
  </div>
</div>
