<div class="modal fade bs-cluster1-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content info">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Cluster 3</h4>
          </div>
          <div class="modal-body">
            <dl class="dl-horizontal">
                <dt># Master(s):</dt>
                <dd id="image">1</dd>
                <dt># Slaves(s):</dt>
                <dd id="flavor">3</dd>
                <dt>Frameworks:</dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><a href="#">Spark</a></li>
                        <li><a href="#">Zeppelin</a></li>
                    </ul>
                </dd>
            </dl>
            <label>Logs</label>
            <pre>
                Connecting to the openstack
                Deploying the cluster...
            </pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>
  </div>
</div>
