<div id="container">
  <!-- Page Content -->
  <div id="wrapper">
      <div class="container-fluid">

          <%= render 'pages/disco' %>

          <!-- <%= render 'pages/todo' %> -->
      </div>
      <!-- /.container-fluid -->
  </div>

  <!-- Modals -->
  <%= render 'pages/details' %>

  <%= render 'pages/create' %>

</div>
<!-- /#wrapper -->
