<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header"></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Clusters</h1>
  </div>
</div>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Slave <small>x2</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>
            </div>
</div>
</a>
<a href="#">
<div class="row well">
        <h2>Test</h2>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4 specs">
               <h3>Master <small>x1</small></h3>
               <p><strong>Ubuntu</strong></p>
               <p><strong>2</strong> VCPUs</p>
               <p><strong>2GB</strong> RAM</p>
               <p><strong>100GB</strong> HDD</p>
           </div>
           <div class="col-lg-4">
               <h3>Assigned to: </h3>
               <ul>
                   <li>Group 1</li>
                   <li>Group 2</li>
                   <li>Group 3</li>
                   <li>Group 4</li>
               </ul>

           </div>
</div>
</a>
